@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

* {
  margin: 0;
  box-sizing: border-box;
}

.logo {
  margin-bottom: 3rem;
}

body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  font-family: josefin sans;
  font-size: 1rem;
  background-image: url(..//images/bg-pattern-desktop.svg);
  background-size: 70%;
  background-repeat: no-repeat;
  height: 100vh;
}

h1 {
  padding: 0;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 3em;
  letter-spacing: 0.5rem;
  color: #ee8c8c;
}

h2 {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 3em;
  letter-spacing: 0.5rem;
  margin-bottom: 1.5rem;
}

p {
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 1.5rem;
}

.img {
  height: 100vh;
}

article {
  display: block;
  padding: 1rem 4rem;
  max-width: 660px;
  max-height: 100vh;
  margin: 0 auto;
}

p {
  color: #f96262;
  transition: 1s ease;
}

.container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}

input {
  justify-content: center;
  width: 100%;
  min-width: 185px;
  padding: 10px 40px;
  display: flex;
  border: 2px solid #f96262;
  border-radius: 2rem;
  outline: none;
}

button {
  position: relative;
  width: 80px;
  height: 40px;
  left: -34px;
  border-radius: 40px;
  cursor: pointer;
  color: #fff;
  background: linear-gradient(
    135deg,
    hsl(0, 25%, 62%) 0%,
    rgb(255, 183, 183) 46%,
    rgb(255, 194, 194) 72%
  );
  box-shadow: 0 2px 4px rgba(202, 131, 131, 0.8);
  border: none;
}

button:hover {
  background: #fff;
  color: #f96262;
}

.imgmobilee {
  display: none;
}

.erro {
  position: relative;
  left: -125px;
  margin-left: -23px;
}

.emailvalido {
  position: relative;
  color: #f96262;
  margin: 1rem;
  width: fit-content;
}

.enviado {
  position: relative;
  color: #f96262;
  margin: 1rem;
  width: fit-content;
  top: -30px;
}

@media (max-width: 768px) {
  body {
    display: block;
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
  }
  .imgmobilee {
    display: block;
    width: 100vw;
  }

  .imgmobile {
    width: 100%;
  }

  .img {
    display: none;
  }
  body,
  article {
    display: block;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 0 auto;
    padding: 0;
    max-width: none;
    height: 100vh;
    background: white;
  }
  .logo {
    margin: 3rem 4rem;
  }

  h1 {
    margin-top: 20px;
    font-size: 2em;
  }

  h2 {
    font-size: 2em;
  }
  input {
    padding: 1rem;
    width: 100vw;
    margin-left: 20px;
  }

  p {
    width: 80%;
    text-align: center;
    margin: 0 auto;
  }

  button {
    min-width: 2rem;
    height: 3.5rem;
  }
  .container {
    align-items: center;
    align-content: center;
    height: 80px;
    margin-top: 1rem;
  }

  .validar {
    height: 50px;
  }
  .emailvalido{
    position: relative;
    top: -13px;
    margin-left: 35px;
  }
  .enviado {
    top: -45px;
    position: relative;
    margin-left: 35px;
    }
}
